Source: openmediavault-kernel
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 12 )
Standards-Version: 3.9.6
Homepage: http://omv-extras.org/

Package: openmediavault-kernel
Architecture: all
Depends: memtest86+,
         openmediavault (>= 6.0.40),
         openmediavault-omvextrasorg (>= 6.3),
         ${misc:Depends}
Breaks: openmediavault (<< 6.0)
Description: kernel package
 The plugin allows the user to select which grub entry to boot from and
 installation of the Proxmox kernel.  It also allows for the download
 and grub entry to boot from the following rescue Linux distros:
   - Clonezilla
   - GParted Live
   - SystemRescue
